@media print {
  .lpsHeader {
    display: none;
  }
}

.lpsHeader {
  background: var(--ax-brand-blue-200);
  display: none;
  padding: 2rem;
}

@media (min-width: 1024px) {
  .lpsHeader {
    display: flex;
  }
}
